[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
        fe = fetch -p -a
        sh = show
	lg = log -p
[diff]
	renames = true
[push]
	default=tracking
